<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cobee.rentalhouse.core.dao.impl.BaseAreaMapper">
	
	<sql id="selectFromClause">
		a.create_date,
		a.create_by,
		a.update_date,
		a.update_by,
		a.remarks,
		a.del_flag,
		a.city_id,
		a.parent_city_id,
		a.city_name,
		a.city_code,
		a.fullname
		from base_area a
	</sql>
	
	<sql id="whereClause">
		<where>
			<trim prefixOverrides="and" >
			
				<if test="delFlag != null">
					and a.del_flag = #{delFlag}
				</if>
				
				<if test="parentCityId != null">
					and a.parent_city_id = #{parentCityId}
				</if>
				
			</trim>
		</where>
	</sql>
	
	<select id="list" resultType="BaseArea" >
	
		select <include refid="selectFromClause"></include>
		<include refid="whereClause"></include>
	
		<choose>
			<when test="pageRequest != null and pageRequest.orderByClause != null and pageRequest.orderByClause != ''">
				${pageRequest.orderByClause}
			</when>
			<otherwise>
				order by a.city_code
			</otherwise>
		</choose>
		
		<if test="pageRequest != null and pageRequest.limitClause != null and pageRequest.limitClause != ''">
			${pageRequest.limitClause}
		</if>
	
	</select>
	
	<select id="get" resultType="BaseArea" parameterType="integer" >
	
		select <include refid="selectFromClause"></include>
		where a.city_id = #{id}
		
	</select>
	
	<update id="delete" parameterType="integer" >
	
		delete from base_area where city_id = #{id}
		
	</update>
	
	<update id="deleteByLogic" parameterType="integer" >
	
		update base_area set del_flag = 1 where city_id = #{id} 
		
	</update>
	
	<update id="insertBySelective" parameterType="BaseArea">
		insert into base_area
		(
			<trim suffixOverrides=",">
				<if test="createDate != null">
					create_date,
				</if>
				<if test="createBy != null">
					create_by,
				</if>
				<if test="updateDate != null">
					update_date,
				</if>
				<if test="updateBy != null">
					update_by,
				</if>
				<if test="remarks != null">
					remarks,
				</if>
				<if test="cityId != null">
					city_id,
				</if>
				<if test="parentCityId != null">
					parent_city_id,
				</if>
				<if test="cityName != null">
					city_name,
				</if>
				<if test="cityCode != null">
					city_code,
				</if>
				<if test="fullname != null">
					fullname,
				</if>
				
			</trim>
		) values (
			<trim suffixOverrides=",">
				<if test="createDate != null">
					#{createDate},
				</if>
				<if test="createBy != null">
					#{createBy},
				</if>
				<if test="updateDate != null">
					#{updateDate},
				</if>
				<if test="updateBy != null">
					#{updateBy},
				</if>
				<if test="remarks != null">
					#{remarks},
				</if>
				<if test="cityId != null">
					#{cityId},
				</if>
				<if test="parentCityId != null">
					#{parentCityId},
				</if>
				<if test="cityName != null">
					#{cityName},
				</if>
				<if test="cityCode != null">
					#{cityCode},
				</if>
				<if test="fullname != null">
					#{fullname},
				</if>
			</trim>
		)
	
	</update>
	
	<update id="updateBySelective" parameterType="BaseArea">
		
		update base_area set 
		
		<trim suffixOverrides=",">
				<if test="createDate != null">
					create_date = #{createDate},
				</if>
				<if test="createBy != null">
					create_by = #{createBy},
				</if>
				<if test="updateDate != null">
					update_date = #{updateDate},
				</if>
				<if test="updateBy != null">
					update_by = #{updateBy},
				</if>
				<if test="remarks != null">
					remarks = #{remarks},
				</if>
				<if test="cityId != null">
					city_Id = #{cityId},
				</if>
				<if test="parentCityId != null">
					parent_City_Id = #{parentCityId},
				</if>
				<if test="cityName != null">
					city_Name = #{cityName},
				</if>
				<if test="cityCode != null">
					city_Code = #{cityCode},
				</if>
				<if test="fullname != null">
					fullname = #{fullname},
				</if>
			</trim>
		
		where city_Id = #{cityId}
	
	</update>
	
	
</mapper>