<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cobee.rentalhouse.core.dao.impl.RentalOrderMapper">
	
	<sql id="selectFromClause">
		a.id,
		a.create_Date,
		a.create_By,
		a.update_Date,
		a.update_By,
		a.remarks,
		a.year,
		a.month,
		a.electricity_Amount,
		a.power_Consumption,
		a.total_Amount,
		a.status,
		a.del_Flag,
		a.deduction_Amount,
		a.diff_Power_Consumption,
		a.user_id,
		a.water_consumption,
		a.diff_water_consumption,
		a.water_amount,
		a.rental_client_checkin_order_id,
		a.last_power_consumption,
		a.last_water_consumption,
		b.realname as "secureUser.realname",
		c.standard_elect_amount as "rentalClientCheckinOrder.standardElectAmount",
		c.standard_water_amount as "rentalClientCheckinOrder.standardWaterAmount",
		c.rental_amount as "rentalClientCheckinOrder.rentalAmount",
		d.name as "rentalClientCheckinOrder.rentalClient.name",
		d.gender as "rentalClientCheckinOrder.rentalClient.gender",
		e.house_type as "rentalClientCheckinOrder.rentalHouseResource.houseType"
		from rental_order a
		left join secure_user b on b.id = a.user_id
		left join rental_client_checkin_order c on c.id = a.rental_client_checkin_order_id
		left join rental_client d on d.id = c.rental_client_id
		left join rental_house_resource e on e.id = c.house_id
	</sql>
	
	<sql id="whereClause">
		<where>
			<trim prefixOverrides="and" >
				<if test="delFlag != null">
					and a.del_flag = #{delFlag}
				</if>
				
				<if test="createBy != null and createBy !=''">
					and a.create_by = #{createBy}
				</if>
				
				<if test="status != null">
					and a.status = #{status}
				</if>
				
				<if test="year != null">
					and a.year = #{year}
				</if>
				
				<if test="rentalClientCheckinOrderId != null">
					and a.rental_client_checkin_order_id = #{rentalClientCheckinOrderId}
				</if>
				
				<if test="rentalClientCheckinOrder != null and rentalClientCheckinOrder.rentalClient != null and rentalClientCheckinOrder.rentalClient.name != ''">
					and d.name like concat('%', #{rentalClientCheckinOrder.rentalClient.name}, '%')
				</if>
				
			</trim>
		</where>
	</sql>
	
	<select id="list" resultType="RentalOrder" >
	
		select <include refid="selectFromClause" />
		
		<include refid="whereClause"></include>
		
		<choose>
			<when test="pageRequest != null and pageRequest.orderByClause != null and pageRequest.orderByClause != ''">
				${pageRequest.orderByClause}
			</when>
			<otherwise>
				order by a.year desc, a.month desc
			</otherwise>
		</choose>
		
		<if test="pageRequest != null and pageRequest.limitClause != null and pageRequest.limitClause != ''">
			${pageRequest.limitClause}
		</if>
	
	</select>
	
	<select id="get" resultType="RentalOrder" parameterType="integer" >
	
		select <include refid="selectFromClause" /> where a.id = #{id}
		
	</select>
	
	<select id="queryByCount" resultType="integer" >
	
		select count(1) from rental_order a
		
		<include refid="whereClause"></include>
		
	</select>
	
	<select id="findRentalOrderYear" resultType="integer" >
	
		select distinct a.year
		from rental_order a
		left join secure_user b on b.id = a.user_id
		left join rental_client_checkin_order c on c.id = a.rental_client_checkin_order_id
		left join rental_client d on d.id = c.rental_client_id
		<include refid="whereClause"></include>
		
	</select>
	
	<update id="delete" parameterType="integer" >
	
		delete from rental_order where id = #{id}
		
	</update>
	
	<update id="deleteByLogic" parameterType="integer" >
	
		update rental_order set del_flag = 1 where id = #{id}
		
	</update>
	
	<update id="insertBySelective" parameterType="RentalOrder">
		<selectKey order="AFTER" keyProperty="id" resultType="integer" keyColumn="id" >
			select last_insert_id()
		</selectKey>
		insert into rental_order
		(
			<trim suffixOverrides=",">
				<if test="createDate != null">
					create_date,
				</if>
				<if test="createBy != null">
					create_by,
				</if>
				<if test="updateDate != null">
					update_date,
				</if>
				<if test="updateBy != null">
					update_by,
				</if>
				<if test="remarks != null">
					remarks,
				</if>
				<if test="year != null">
					year,
				</if>
				<if test="month != null">
					month,
				</if>
				<if test="electricityAmount != null">
					electricity_amount,
				</if>
				<if test="powerConsumption != null">
					power_consumption,
				</if>
				<if test="totalAmount != null">
					total_amount,
				</if>
				<if test="status != null">
					status,
				</if>
				<if test="deductionAmount != null">
					deduction_Amount,
				</if>
				<if test="diffPowerConsumption != null">
					diff_Power_Consumption,
				</if>
				<if test="userId != null">
					user_Id,
				</if>
				
				<if test="waterConsumption != null">
					water_consumption,
				</if>
				<if test="diffWaterConsumption != null">
					diff_water_consumption,
				</if>
				<if test="waterAmount != null">
					water_amount,
				</if>
				
				<if test="rentalClientCheckinOrderId != null">
					rental_client_checkin_order_id,
				</if>
				<if test="lastPowerConsumption != null">
					last_power_consumption,
				</if>
				<if test="lastWaterConsumption != null">
					last_water_consumption,
				</if>
			</trim>
		) values (
			<trim suffixOverrides=",">
				<if test="createDate != null">
					#{createDate},
				</if>
				<if test="createBy != null">
					#{createBy},
				</if>
				<if test="updateDate != null">
					#{updateDate},
				</if>
				<if test="updateBy != null">
					#{updateBy},
				</if>
				<if test="remarks != null">
					#{remarks},
				</if>
				<if test="year != null">
					#{year},
				</if>
				<if test="month != null">
					#{month},
				</if>
				
				<if test="electricityAmount != null">
					#{electricityAmount},
				</if>
				<if test="powerConsumption != null">
					#{powerConsumption},
				</if>
				<if test="totalAmount != null">
					#{totalAmount},
				</if>
				<if test="status != null">
					#{status},
				</if>
				<if test="deductionAmount != null">
					#{deductionAmount},
				</if>
				<if test="diffPowerConsumption != null">
					#{diffPowerConsumption},
				</if>
				<if test="userId != null">
					#{userId},
				</if>
				
				<if test="waterConsumption != null">
					#{waterConsumption},
				</if>
				<if test="diffWaterConsumption != null">
					#{diffWaterConsumption},
				</if>
				<if test="waterAmount != null">
					#{waterAmount},
				</if>
				
				<if test="rentalClientCheckinOrderId != null">
					#{rentalClientCheckinOrderId},
				</if>
				<if test="lastPowerConsumption != null">
					#{lastPowerConsumption},
				</if>
				<if test="lastWaterConsumption != null">
					#{lastWaterConsumption},
				</if>
				
			</trim>
		)
	
	</update>
	
	<update id="updateBySelective" parameterType="RentalOrder">
		
		update rental_order set 
		
		<trim suffixOverrides=",">
				<if test="createDate != null">
					create_date = #{createDate},
				</if>
				<if test="createBy != null">
					create_by = #{createBy},
				</if>
				<if test="updateDate != null">
					update_date = #{updateDate},
				</if>
				<if test="updateBy != null">
					update_by = #{updateBy},
				</if>
				<if test="remarks != null">
					remarks = #{remarks},
				</if>
				<if test="year != null">
					year = #{year},
				</if>
				<if test="month != null">
					month = #{month},
				</if>
				
				<if test="electricityAmount != null">
					electricity_Amount = #{electricityAmount},
				</if>
				<if test="powerConsumption != null">
					power_Consumption = #{powerConsumption},
				</if>
				<if test="totalAmount != null">
					total_Amount = #{totalAmount},
				</if>
				<if test="status != null">
					status = #{status},
				</if>
				<if test="deductionAmount != null">
					deduction_Amount = #{deductionAmount},
				</if>
				<if test="diffPowerConsumption != null">
					diff_Power_Consumption = #{diffPowerConsumption},
				</if>
				<if test="userId != null">
					user_Id = #{userId},
				</if>
				
				<if test="waterConsumption != null">
					water_Consumption = #{waterConsumption},
				</if>
				<if test="diffWaterConsumption != null">
					diff_Water_Consumption = #{diffWaterConsumption},
				</if>
				<if test="waterAmount != null">
					water_Amount = #{waterAmount},
				</if>
				
				<if test="rentalClientCheckinOrderId != null">
					rental_client_checkin_order_id = #{rentalClientCheckinOrderId},
				</if>
				<if test="lastPowerConsumption != null">
					last_power_consumption = #{lastPowerConsumption},
				</if>
				<if test="lastWaterConsumption != null">
					last_water_consumption = #{lastWaterConsumption},
				</if>
				
			</trim>
		
		where id = #{id}
	
	</update>
	
	
</mapper>